@{
    ViewBag.Title = "Forms";
}

<link href="~/Scripts/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/datatables.min.js"></script>

<script src="~/Scripts/Utilities.js"></script>

<!-- NEEDED FOR SPINNER DIALOG -->


<script>
    $(function () {
        var formID = 0;
        $.fn.bootstrapBtn = $.fn.button.noConflict();

        $('[data-toggle="tooltip"]').tooltip();

        var newformdialog = $("#new-form-dialog").dialog({
            autoOpen: false,
            height: 350,
            width: 700,
            stack: true,
            modal: true,
            draggable: false,
            buttons: {
                "Update": UpdateForm,
                Cancel: function () {
                    newformdialog.dialog("close");
                }
            },
            close: function () {
                newformdialog.dialog("close");
            }
        });

        $("#ConfirmDialog").dialog({
            autoOpen: false,
            modal: true,
            buttons: {
                "Confirm": function () {
                    DeleteForm(formID);
                },
                "Cancel": function () {
                    formID = 0;
                    $(this).dialog("close");
                }
            }
        });

        $("#tblTrans").on('click', '.deleteform', function (event) {
            formID = 0;
            formID = $(this).attr("id");

            event.preventDefault();
            $("#ConfirmDialog").dialog("open");
        });

        function resetRequiredBoxes() {
            var elements = document.querySelectorAll('[data-required="true"]');

            $.each(elements, function (index, item) {
                item.style.borderColor = '#cccccc';
            });
        }

        function UpdateForm() {
            var elements = document.querySelectorAll('[data-required="true"]');
            var alertTriggered = false;

            $.each(elements, function (index, item) {
                if (item.value == '') {
                    item.style.borderColor = 'red';

                    if (!alertTriggered) {
                        //alert(item.dataset.name + " is required.");
                        $.AlertDialog(item.dataset.name + " is required.", 'Error Message', function (event) { }, 'lightcoral');
                    }
                    alertTriggered = true;
                }
                else {
                    item.style.borderColor = '#cccccc';
                }
            });

            if (alertTriggered) {
                return;
            }

            var _form = {
                FormID: formID,
                Title: $('#txtFormTitle').val(),
                Active: $('#chkActive').is(':checked'),
                Price: $('#txtFormPrice').val()
            }

            $.ajax({
                url: '/admin/updateform/',
                type: 'POST',
                data: JSON.stringify({ form: _form }),
                //dataType: 'json',
                traditional: true,
                contentType: 'application/json;',
                success: function (result) { //result is returned as an arry of base flavors
                    if (result == '0') {
                        //alert('There was an error updating the form.');
                        $.AlertDialog('There was an error updating the form.', 'Error Message', function (event) { }, 'lightcoral');
                    } else {
                        location.reload();
                    }
                }
            });
        }

        function DeleteForm(formID) {
            $.ajax({
                url: '/admin/DeleteForm/',
                type: 'POST',
                data: JSON.stringify({ FormID: formID }),
                //dataType: 'json',
                traditional: true,
                contentType: 'application/json;',
                success: function (result) { //result is returned as an arry of base flavors
                    if (result == '0') {
                        //alert('The form was deleted.');
                        $.AlertDialog('The form was deleted.', 'Success', function (event) { }, 'lightgreen');
                        formID = 0;
                        location.reload();
                    } else {
                        // alert(result);
                        $.AlertDialog(result, 'Error Message', function (event) { }, 'lightcoral');
                    }
                }
            });

        }


        $('#tblTrans').on('click', '.editForm', function (e) {
            var row = $(this).closest('tr').find('td');
            resetForm();
            formID = $(this).attr("id");

            event.preventDefault();

            $('#txtFormTitle').val(row[0].innerText);
            //$('#chkActive').prop('checked', row.find('input:checkBox').is(':checked'));
            $('#chkActive').prop('checked', true);
            $('#txtFormPrice').val(row[2].innerText);

            newformdialog.dialog('option', 'title', 'Update Form');
            newformdialog.dialog("open");
        });




        $('#lnkAdd').on('click', function (e) {
            formID = 0;
            resetForm();
            $('#chkActive').prop('checked', true);
            $('#tdActive').attr('align', 'center');
            newformdialog.dialog('option', 'title', 'Add New Form');
            newformdialog.dialog("open");
        });

        oOverviewTable = $('#tblTrans').DataTable({
            "responsive": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": true,
            "drawCallback": function (settings) {
                $('[data-toggle="tooltip"]').tooltip();
            },
            "initComplete": function (settings, json) {
                $('[data-toggle="tooltip"]').tooltip();
            },
            "ajax": {
                "url": "/admin/getforms/",
                "dataSrc": ""
            },
            columnDefs: [
                { type: 'currency', targets: 2 }
            ],
            "columns": [
                {
                    "data": "Title"
                },
                {
                    "data": "Active",
                    "orderable": false,
                    "render": function (data, type, full, meta) {
                        return data ? '<span><i class="fa fa-check fa-2x" style="color:green"></i></span>' : '<span><i class="fa fa-times fa-2x" style="color:red"></i></span>'
                    }
                },
                {
                    "data": "Price",
                    "className": "text-right",
                    render: $.fn.dataTable.render.number(",", ".", 2, "$ ")
                },
                {
                    "orderable": false,
                    "className": "text-center",
                    "render": function (data, type, full) {

                        return "<a class='editForm' id='" + full.FormID + "' ><i class='fa fa-pencil fa-shadow fa-2x' style='color: lightskyblue;' data-toggle='tooltip' data-placement='top' title='Edit'></i></a>";
                    }
                },
                {
                    "data": "Deleteable",
                    "orderable": false,
                    "className": "text-center",
                    "render": function (data, type, full, meta) {
                        if (data == 1) {
                            var i = 0;

                        }

                        //return data == 1 ? '<img src="/images/delete.png" id="' + full.FormID + '" class="deleteform" data-toggle="tooltip" data-placement="left" title="Delete Form"  />' : '';
                        return data == 1 ? "<a id='" + full.FormID + "' class='deleteform'><i class='delete fa fa-trash fa-shadow fa-2x' style='color:crimson' data-toggle='tooltip' title='Delete'></i></a></td >" : '';
                    }
                }
            ]
        });


        function resetForm() {
            $('#txtFormTitle').val('');
            $('#chkActive').prop('checked', false)
            $('#txtFormPrice').val('');

            resetRequiredBoxes();
        }
    });
</script>

<div class="row">
    <div class="col-lg-6">
        <h2>Products & Services</h2>
    </div>
    <div class="col-lg-6 pull-bottom text-right" style="padding-top: 10px">
        <a href="#" id="lnkAdd">
            @*<img src="~/images/add form.png" data-toggle="tooltip" data-placement="left" title="Add New Form" />*@
            <i class="fa fa-plus fa-3x" aria-hidden="true" data-toggle="tooltip" title="Add new"></i>
        </a>
    </div>
</div>
<table id="tblTrans" class="table table-striped table-condensed" style="width:100%">
    <thead>
        <tr>
            <th>Description</th>
            <th>Active</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>

<div id="ConfirmDialog" title="Confirmation Required">
    Are you sure you want to delete this form?
</div>

<div id="new-form-dialog" title="Add New Form">
    <input type="hidden" id="hdnFormID" />

    <div class="container">
        <table id="tblTransDetails" class="table">
            <tr>
                <td colspan="3" width="300px">
                    <label for="txtFormTitle">Form Name</label><input type="text" class="form-control" id="txtFormTitle" style="max-width:100%;" data-required="true" data-name="Form Name" />
                </td>
            </tr>
            <tr>
                <td width="150px;" align="left">
                    <label for="txtFormPrice">Form Price</label>
                    <input type="text" class="form-control" id="txtFormPrice" data-required="true" style="max-width:100%;" data-name="Form Price" onkeypress='numericValidate(event)' />
                </td>
                <td id="tdActive" class="text-center" width="75px;">
                    <label for="chkActive">Active</label> <input type="checkbox" class="checkbox" id="chkActive" checked="checked" />
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</div>





