
@{
    ViewBag.Title = "index";
}

<h2>Admin Options</h2>

<table class="table table-hover">
    <tr>
        <td><a href="associates">Associates</a></td>
    </tr>
    <tr>
        <td><a href="forms">Forms</a></td>
    </tr>
    <tr>
        <td><a href="dailyinvoices">Daily Receipts</a></td>
    </tr>
    <tr>
        <td><a href="AssociateHours">Associate Hours</a></td>
    </tr>
    <tr>
        <td><a href="payments">Payments</a></td>
    </tr>
    <tr>
        <td><a href="AccountsReceivable">Accounts Receivables</a></td>
    </tr>
    <tr>
        <td><a href="refunds">Refunds</a></td>
    </tr>
    <tr>
        <td><a href="deletedexpenses">Deleted Expenses</a></td>
    </tr>

</table>
