
@{
    ViewBag.Title = "Search Receipts";
}

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $.fn.bootstrapBtn = $.fn.button.noConflict();

        $("#tabs").tabs();
        var today = new Date();
        $("#dpStart").datepicker({
            onSelect: function (dateText, inst) {
                $("#dpEnd").datepicker("option", { minDate: dateText });
            }
        }).datepicker("setDate", today);
        $("#dpEnd").datepicker({ minDate: today }).datepicker("setDate", today);
    });

    function changeFilters() {
        if ($('#rdoFilterDates').prop('checked')) {
            $('#divFilterDates').show();
            $('#divFilterID').hide();
        } else if ($('#rdoFilterID').prop('checked')) {
            $('#divFilterID').show();
            $('#divFilterDates').hide();

        }

    }

    function btnSearchDatesClick() {


        $.ajax({
            url: '/transactions/SearchTransactionByDates/',
            type: 'POST',
            data: JSON.stringify({ StartDate: $("#dpStart").val(), EndDate: $("#dpEnd").val() }),
            //dataType: 'json',
            traditional: true,
            contentType: 'application/json;',
            success: function (result) {
                $('#tblTrans tbody').empty();
                if (result.length == 0) {
                    var row = "<tr><td colspan='9' class='text-center'>No data available in table</td></tr>";
                    $("#tblTrans tbody").append(row);

                } else {
                    fillTransactionTable(result);
                }
            }
        });

    }

    function btnSearchClick() {
        if ($('#txtTransactionID').val() == '' || $('#txtTransactionID').val().trim() == '') {
            $.AlertDialog('No search criteria has been entered.', 'Error Message', 'lightcoral');
            return;
        }

        $.ajax({
            url: '/transactions/SearchTransaction/',
            type: 'POST',
            data: JSON.stringify({ TransactionID: $('#txtTransactionID').val() }),
            //dataType: 'json',
            traditional: true,
            contentType: 'application/json;',
            success: function (result) {

                $('#tblTrans tbody').empty();
                if (result == '0') {
                    var row = "<tr><td colspan='9' class='text-center'>No data available in table</td></tr>";
                    $("#tblTrans tbody").append(row);

                } else {
                    //populate the transaction table

                    //$('#tblTrans').find('tr:gt(0)').remove();

                    //var _date = new Date(parseInt(result.TransactionDate.substr(6)));
                    //_date = (_date.getMonth() + 1) + '/' + _date.getDate() + '/' + _date.getFullYear();

                    //var row = '<tr>' +
                    //    "<td><a href='/transactions/transactiondetails/" + result.TransactionID + "'>" + result.TransactionID + "</a></td>" +
                    //    "<td><a href='/transactions/customertransactions/" + result.CustomerID + "'>" + result.CustomerName + "</a></td>" +
                    //    "<td>" + _date + "</td>" +
                    //    "<td>" + result.TransactionStatus + "</td>" +
                    //    "<td>" + result.TakenBy + "</td>" +
                    //    "<td class='currencyLabel'>" + result.TotalAmount + "</td>" +
                    //    "<td class='currencyLabel'>" + result.TotalCollected + "</td>" +
                    //    "<td class='currencyLabel'>" + result.TotalOwed + "</td>" +
                    //    "</tr>"
                    //$("#tblTrans").append(row);

                    //$('.currencyLabel').formatCurrency();

                    var list = [result];
                    fillTransactionTable(list);

                }
            }
        });

    }

    function fillTransactionTable(list) {
        for (var i = 0; i < list.length; i++) {
            var transaction = list[i];
            var _date = moment(transaction.TransactionDate).format("MM/DD/YYYY");

            var row = '';

            if (transaction.TransactionStatusID == 1) {
                row = '<tr>';
            } else if (transaction.TransactionStatusID == 2) {
                row = '<tr class="success">';
            } else if (transaction.TransactionStatusID == 3) {
                row = '<tr class="danger">';
            }

            var row = row +
                "<td><a href='/transactions/transactiondetails/" + transaction.TransactionID + "'>" + transaction.TransactionID + "</a></td>" +
                "<td><a href='/transactions/customertransactions/" + transaction.CustomerID + "'>" + transaction.CustomerID + "</a></td>" +
                "<td>" + transaction.CustomerName + "</td>" +
                "<td>" + _date + "</td>" +
                "<td>" + transaction.TransactionStatus + "</td>" +
                "<td>" + transaction.TakenBy + "</td>" +
                "<td class='currencyLabel'>" + transaction.TotalAmount + "</td>" +
                "<td class='currencyLabel'>" + transaction.TotalCollected + "</td>" +
                "<td class='currencyLabel'>" + transaction.TotalOwed + "</td>" +
                "</tr>"
            $("#tblTrans").append(row);

            $('.currencyLabel').formatCurrency();
        }
    }

</script>

<div class="row">
    <div class="col-sm-12"><h2>Search Receipt</h2></div>
</div>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Filter by dates</a></li>
        <li><a href="#tabs-2">Filter by ID</a></li>
    </ul>
    <div id="tabs-1" data-value="1">
        <div class="row">
            <div class="form-group col-md-3">
                <label for="dpStart">Start Date:</label>
                <div class="input-group margin-bottom-sm">
                    <input type="text" id="dpStart" class="form-control" readonly />
                    <span class="input-group-addon btn btn-default" onclick="$('#dpStart').focus();"><i class="fa fa-calendar fa-lg fa-fw"></i></span>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="dpEnd">End Date:</label>
                <div class="input-group margin-bottom-sm">
                    <input type="text" id="dpEnd" class="form-control" readonly />
                    <span class="input-group-addon btn btn-default" onclick="$('#dpEnd').focus();"><i class="fa fa-calendar fa-lg fa-fw"></i></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="empty-label">&nbsp;</label>
                <button id="btnSearchDate" class="btn btn-primary" onclick="btnSearchDatesClick()">Search</button>
            </div>
        </div>
    </div>
    <div id="tabs-2" data-value="2">
        <div class="row">
            <form class="form-horizontal" onsubmit="return false;">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="txtTransactionID">Transaccion ID:</label>
                    <div class="col-sm-4">
                        <input type="text" id="txtTransactionID" class="form-control">
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-primary" id="btnSearch" onclick="btnSearchClick();">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<br />

<table id="tblTrans" class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Receipt No.</th>
            <th>Customer No.</th>
            <th>Customer Name</th>
            <th>Receipt Date</th>
            <th>Status</th>
            <th>Rep</th>
            <th>Total Amount</th>
            <th>Total Collected</th>
            <th>Amount Due</th>
        </tr>
    </thead>
    <tbody>
        <tr><td colspan='9' class='text-center'>No data available in table</td></tr>
    </tbody>
</table>

